---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Ad from '../components/Ad.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<Ad />
		<link rel="sitemap">
	</head>
	<body>
		<Header />
		<main>
			<h1>Contact Us</h1>
			<p>
				If you wish the contact the Binary Brigade please contact us on <b><a href=mailto:support@binarybrigade.xyz>support@binarybrigade.xyz</a></b> and the correct member of the team will get back in touch with you.
			</p>
		</main>
		<Footer />
	</body>
</html>
